<div class="card" style="width: 400px;">
  <h2 class="card-title">Let Him Cook!</h2>
  <img src="https://i.kym-cdn.com/entries/icons/facebook/000/041/943/1aa1blank.jpg" alt="image" style="width: 70%; height: auto;">
  <p class="card-description">Woody holding Sora back to let someone cook</p>
  <button class="dup-button" id="dup-imgbutton">Duplicate Card</button>
  <button class="toggle-button" id="toggle-imgbutton">Toggle Color</button>
  <button class="changeText-button" id="changeText-imgbutton">Change Text</button>
  <button class="del-button" id="del-imgbutton">Delete</button>
  <button class="details-button" id="details-imgbutton">Details</button>
</div>


